
table.mdROWHtable.astMLOADTble,
table.astMLOADTble{
	margin:0px !important;
	padding:0px !important;
	gap:0px !important;
}	
table.astMLOADTble{
	font-size:14px;
}
table.astMLOADTble div{
	font-size:14px;
}	
table.astMLOADTble div.astFLex{
	height:100%;
	padding:0px;
	margin:0px;
}	
.mdROWHtable tr.mdROWtitles{
	position: relative;
    gap: 5px;
	border-bottom:1px solid #666 !important;
}
.mdROWHtable tr.mdROWtitles> td,
.mdROWHtable tr.mdROWtitles> td> div{
	flex:1;
	justify-content:center;
	align-items:center;
	gap:5px;
	height:40px;
	padding:0px;
	margin:0px;
}
.mdROWHtable tr.mdROWtitles> td.mdROWsale> div{
	background-color:#666 !important;
	color:#fff !important;
	gap:5px;
}
.mdROWHtable tr.mdROWtitles> td.mdROWsale:last-child{
	flex:calc(100% / 3);
}
.mdROWHtable tr.mdROWtitles> td.mdROWkind{
	background-color:#000 !important;
	color:#fff !important;
}
.mdROWHtable tr.mdROWtitles> td> div> b,
.mdROWHtable tr.mdROWtitles> td> div> span,
.mdROWHtable tr.mdROWtitles> td> div> i,
table.astMLOADTble div.astFLex,
table.astMLOADTble div.astFLex> span,
table.astMLOADTble div.astFLex> i{
	padding:0px;
	margin:0px;
	display:flex;
	justify-content:center;
	align-items:center;
}
table.astMLOADTble div.astFLex{
	justify-content:start;
	gap:5px;
}
.mdROWHtable tr.mdROWtitles> td> div> b{
	background-color:#fff;
	color:#000;
	border-radius:50%;
	height:15px;
	width:auto;
	min-width:25px;
	font-size:12px;
	align-self:end;
	margin-bottom:5px;
}
.mdROWHtable tr.mdROWtitles> td> div> span,
table.astMLOADTble div.astFLex> span{
	height:100%;
	font-size:14px;
}
.mdROWHtable tr.mdROWtitles> td> div> i,
table.astMLOADTble div.astFLex> i{
	font-size:10px;
	align-self:end;
	height:auto;
}
table.astMLOADTble th.mdTBROWdt{
	padding:0px;
	margin:0px;
	height:40px;
}
.astMLOADetails table.astMLOADTble{
	border-bottom:3px solid #666;
}
.astMLOADetails table.astMLOADTble thead th{
	border-bottom:0px;
	border-top:0px;
	background-color:#ddd;
}
.dataTables_wrapper .dataTables_paginate .paginate_button{
	color:#fff !important;
}
.mdTBLePARent{
	height: calc(100% - 80px) !important;
}
.mdMAPSelmores{
	left:-100%;
}
.mdMAPSelmores .mdMAPSelmoreshdr{
	flex-flow:wrap !important;
	height: 80px !important;
}
.mdMAPSelmores .mdMAPSelmoreshdr .mdMAPSelmoreshdrPrint .mdMAPsearchCNTLnks{
	margin-bottom:0px;
	margin-top:5px;
}
.mdUNLOCkKeYs{
	justify-content:space-between !important;
	align-items:center;
	height:40px;
	flex-flow:wrap !important;
	border-bottom:1px solid #ddd;
	background-color:#f8f8f8;
	gap:5px;
	position:relative;
	width:100% !important;
	padding:0px 30px !important;
}
.mdUNLOCkKeYs .mdUNLOCkKYss{
	height:40px;
	justify-content:center;
	align-items:center;
	transition:0.5s;
	gap:5px;
	flex-flow:row;
}
.mdNormalKeYs{
	
}
.mdUNLOCkKeYs .mdUNLOCkKeYss{
	height:40px;
	justify-content:center;
	align-items:center;
	transition:0.5s;
	gap:5px;
	position:relative;
	overflow:hidden;
	width:0px;
	max-width:400px;
	flex-flow:row;
}
.mdUNLOCkKeYs .mdUNLOCkKeYss input{
	height:30px;
	padding:0px 5px;
	margin:0px;
	border-radius:3px;
	border:px solid #ddd;
	outline:0px;
	flex:1;
}
.mdUNlockLenGths{
	width:auto !important;
}

.mdOPeNOPtions{
	justify-content:center;
	align-items:center;
	gap:5px;
	height:40px;
	padding:0px;
	position:relative;
}
.mdOPeNOPtions a.btn{
	height:30px;
	width:30px;
	justify-content:center;
	align-items:center;
	padding:0px;
	margin:0px;
}
.mdFXDsch .mdFXDoPtions{
}
.mdMAPSedownbd.mdMAPsPurPoseLst{
	border:0px !important;
}
.mdMAPSedownbd.mdMAPsPurPoseLst.astDINactive{
	box-shadow: 0px 4px 5px 3px #eee;
}
.mdZOomReset> div.mdMARKtReset{
	justify-content:center;
	align-items:center;
	flex-flow:wrap;
	width:50px !important;
	height:initial !important;
}
.mdZOomReset> div.mdMARKtReset a{ 
	justify-content:center;
	align-items:center !important;
}
.mdZOomReset.mdSeARchTHis{
	top:75px;
	padding:0px !important;
}
.mdSeARchTOP{
	top:15px !important;
}
.mdZOomReset.mdSeARchTHis> div.mdMARKtReset{
	padding:0px !important;
}
.mdZOomReset.mdSeARchTHis .mdRzoomSeARch a{
	width:40px;
	height:40px;
}
.mdZOomReset> div.mdMARKtReset .mdRzoomSeARch a{
}
.mdZOomReset> div.mdMARKtReset .mdRzoomSeARch a i.fa{
	padding:0px !important;
}			                        
.leaflet-top.leaflet-right{
	top:45px;
}
.mdMAReKetReset{
	top:195px;
}
.mdZOomReset .mdZoomOUTtn, 
.leaflet-left .leaflet-control-zoom a, 
.leaflet-top.leaflet-right .leaflet-control-zoom.leaflet-control a,
.mdMAPssearchBTNs a.mdMAPsearchVALUe.mdMAPschBOxsLNk,
.mdDTLIMITation a.btn, 
.dt-buttons button.dt-button, 
.dataTables_wrapper .dataTables_paginate .paginate_button,
.mdMAPSelmoreshdrPrint .mdMAPsearchCNTLnks .mdMAPschLnks,
.mdUNLOCkKYss .mdNormalKeYs,
.mdMAPschBOxsinLNk a.mdMAPschBOxsLNk{
	background-color: #eee;
    background-image: linear-gradient(to bottom, #ffffff, #f6f6f6);
	color:#000 !important;
	text-decoration:none;
	box-shadow:0px 0px 2px 1px #eee !important;
	border:0px;
	outline:0px;
}
.mdZOomReset .mdZoomOUTtn:hover, 
.leaflet-left .leaflet-control-zoom a:hover, 
.leaflet-top.leaflet-right .leaflet-control-zoom.leaflet-control a:hover,
.mdMAPssearchBTNs a.mdMAPsearchVALUe.mdMAPschBOxsLNk:hover,
.mdDTLIMITation a.btn:hover, 
.dt-buttons button.dt-button:hover,
.dataTables_wrapper .dataTables_paginate .paginate_button:hover,
.mdMAPSelmoreshdrPrint .mdMAPsearchCNTLnks .mdMAPschLnks:hover,
.mdUNLOCkKYss .mdNormalKeYs:hover,
.mdMAPschBOxsinLNk a.mdMAPschBOxsLNk:hover{
	background-color: rgba(0,0,0,0.9) !important;
    background-image: initial !important;
	color:#fff !important;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
	box-shadow:0px 0px 2px 1px rgba(255, 255, 255, 0.75) !important;
}
.mdActiveKeYs{
	background-color:#eee !important;
	background-image:linear-gradient(to bottom, #fafbfd, #f0f0f0) !important;
}
.mdFNDkndPRLNk{
	position:relative;
	width:100%;
	overflow:hidden;
	min-height:40px;
	height:initial !important;
	max-height:100px;
}
.mdFNDkndPRLNk .mdFNDkndLNk{
	justify-content:space-between !important;
	gap:5px !important;
	position:relative;
	width:100%;
	height: 100%;
    min-height: 40px;
}
.mdFNDkndPRLNk .mdFNDkndLNk> span{
	width:calc(100% - 100px) !important;
	display:flex;
	position:relative;
	overflow:hidden;
	word-break: break-word;
	font-size:12px;
}
.mdFNDknd{
	display:flex;
	align-items:center;
	width:60px;
	background-color:#eee;
	font-size:10px;
	align-self:end;
	padding:0px 3px;
}
b.mdFNDknd{
	max-width:40px;
	width:40px;
	background-color:#f8f8f8;
	margin-right:-5px;
}
.mdTBLeOPTionPARent{
    position: fixed;
    overflow: hidden;
    padding: 0px;
    z-index: 99902;
    left: -100%;
    top: 0px;
    margin: 0px;
    margin-top: 60px;
    bottom: 0px;
    width: 100%;
    height: initial;
    max-width: initial;
	border-radius:0px;
	transition:0.5s;
	background-color:#fff !important;
	border:0px;
	text-transform:uppercase;
}
.mdTBLeOPTionPARent .modal-content,
.mdTBLeOPTionPARent .modal-body{
	position:relative;
	height:100%;
	width:100%;
	padding:0px !important;
	margin:0px !important;
	max-height:100%;
	background-color:#fff !important;
}
.mdTBLeOPTionPARent .modal-header{
	height:50px;
	width:100%;
	padding:0px;
	margin:0px;
	padding: 0px;
	background-color:#ddd;
	flex-flow:wrap;
	border:0px !important;
}
.mdTBLeOPTionPARent .modal-header .mdOPtionheader{
	justify-content:space-between;
	align-items:center;
	height:50px;
	position:relative;
	width:100%;
	padding: 0px 30px;
	gap:5px;
	border:0px;
}
.mdTBLeOPTionPARent .modal-header .mdOPtionheader> div{
	gap:5px;
}
.mdTBLeOPTionPARent .modal-header .mdOPtionLNks{
	justify-content:space-between;
	align-items:center;
	height:40px;
	padding:0px 5px;
	gap:3px;
	border:0px;
	outline:0px;
	text-decoration:none;
}
.modal-header .mdOPtionheader .mdOPtionLNks.fa_close{
	width:40px;
	height:40px;
	justify-content:center;
	padding:0px;
}
.mdTBLeOPTionPARent .modal-header .mdOPtionTiTLe{
	padding:0px;
	margin:0px;
}
.mdTBLeOPTionPARent .mdTBLeOPTionPBODY{
	height:calc(100% - 50px);
	width:100%;
	position:relative;
	overflow-y:scroll;
	background-color:#f9f9f9;
	padding: 15px 30px;
	border-top:1px solid #999;
	border-bottom:1px solid #eee;
}
.mdMDLRiGHtzero{
	left:0px !important;
}
.mdActcontainer{
	min-height:100%;
	flex-flow: column !important;
}
.mdActcontainer,
.mdActcontainer .mdAVLesection,
.mdAVLesection .mdAVLecontainer{
	justify-content:center !important;
	align-items:center !important;
	flex-flow:wrap;
	width:100%;
	gap:15px;
}
.mdActcontainer .mdAVLesection,
.mdAVLesection .mdAVLecontainer{
	gap:8px;
	justify-content:start !important;
}
.mdActcontainer .mdAVLesection{
	padding:15px;
	border:1px solid #eee;
	border-radius:3px;
	background-color:#f8f8f8;
	margin:0px;
}
.mdAVLesection .mdAVLecontainer{
	padding:5px;
	border-radius:3px;
	background-color:#f9f9f9;
	gap:0px;
}
.mdAVLesection .mdAVLecontainer .mdAVLeLABeL,
.mdAVLesection .mdAVLecontainer .mdAVLeINPut{
	display:flex;
	justify-content:start;
	align-items:center;
	padding:0px 4px;
	border:0px;
	outline:0px;
	width:100%;
	margin:0px;
	margin-bottom:0px;
}
.mdAVLesection .mdAVLecontainer .mdAVLeINPut{
	border-radius:3px;
	height:40px;
	background-color:#fff;
	border:1px solid #eee;
}
.mdAVLesection .mdAVLecontainer .mdAVLeLABeL{
	height:25px;
	background-color:#f7f7f7;
	border-radius:3px 3px 3px 0px;
}
.mdsucessBOXs{
	position:fixed;
	top:-60;left:0;right:0;
	height:50px;
	padding:0px 15px;
	justify-content:center;
	align-items:center;
	font-size:14px;
	z-index:9999902;
}
.mdBORDeRclass{
	border:1px solid #fe6f4b !important;
}
.mdNOcursor{
	pointer-events: none !important;
	cursor:none !important;
}
.mdNOcursor a.btn,
.mdNOcursor input,
.mdNOcursor.btn{
	opacity:0.8 !important;
}
.mdMARKtReset .mdMAPschBOxsLNk{
	height:40px;
	width:40px;
}
.mdMAReKetReset .mdMARKtReset{
	align-self:end;
}
.mdNormalKeYPlus{
	height:30px;
	width:30px;
	padding:0px;
	justify-content:center;
}
.mdUsROPTionPARent{
	position: fixed;
    overflow: hidden;
    padding: 0px;
    z-index: 99902;
    top: 0px;
	bottom: 0px;
	left:-100%;
	margin:0px;
    margin-top: 60px;
    height: initial;
	border-radius:0px;
	transition:0.5s;
	background-color:#fff !important;
	border:0px;
	text-transform:uppercase;
	width:initial;
	max-width:100%;
	min-width:300px;
}
.mdUsROPTionPARent .modal-content,
.mdUsROPTionPARent .modal-body{
	position:relative;
	height:100%;
	width:100%;
	padding:0px !important;
	margin:0px !important;
	max-height:100%;
	background-color:#fff !important;
}
.mdUsROPTionPARent .modal-header{
	height:50px;
	width:100%;
	padding:0px;
	margin:0px;
	padding: 0px;
	background-color:#ddd;
	flex-flow:wrap;
	border:0px !important;
}
.mdUsROPTionPARent .modal-header .mdOPtionheader{
	justify-content:space-between;
	align-items:center;
	height:50px;
	position:relative;
	width:100%;
	padding: 0px 30px;
	gap:5px;
	border:0px;
}
.mdUsROPTionPARent .modal-header .mdOPtionheader> div{
	gap:5px;
}
.mdUsROPTionPARent .modal-header .mdOPtionLNks{
	justify-content:space-between;
	align-items:center;
	height:40px;
	padding:0px 5px;
	gap:3px;
	border:0px;
	outline:0px;
	text-decoration:none;
}
.mdUsROPTionPARent .modal-header .mdOPtionheader .mdOPtionLNks.fa_close{
	width:40px;
	height:40px;
	justify-content:center;
	padding:0px;
}
.mdUsROPTionPARent .modal-header .mdOPtionTiTLe{
	padding:0px;
	margin:0px;
}
.mdUsROPTionPARent .mdUsROPTionBODY{
	height:calc(100% - 50px);
	width:100%;
	position:relative;
	overflow-y:scroll;
	background-color:#f9f9f9;
	padding: 15px 30px;
	border-top:1px solid #999;
	border-bottom:1px solid #eee;
}
.mdUsROPTionPARent .mdUsROPTPioncnt,
.mdUsROPTionPARent .mdUsROPTPionLst,
.mdUsROPTionPARent .mdUsROPTioncntner,
.mdUsROPTionPARent .mdUsROPTionscntnr,
.mdUsROPTionPARent .mdUsROPTionscntnr .mdUsROPPTinPuts,
.mdUsROPTionPARent .mdUsROPTionscntnr .mdUsROPPTLnk,
.mdUsROPTionPARent .mdUsROPRefooter{
	justify-content:center;
	align-items:center;
	flex-flow:wrap;
	width:100%;
	gap:5px;
}
.mdUsROPTionPARent .mdUsROPTPionLst{
	flex-flow:row;
	height:50px;
	background-color:f8f8f8;
	padding:0px;
	margin:0px;
	border-bottom:1px solid #eee;
}
.mdUsROPTionPARent .mdUsROPTLnk{
	justify-content:center;
	align-items:center;
	height:40px;
	padding:0px 5px;
	margin:0px;
	border:0px;
	outline:0px;
	border-radius:3px;
	text-decoration:none;
	gap:3px;
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.05), 0 1px 0 rgba(255, 255, 255, 0.2);
}
.mdUsROPTionPARent .mdUsROPTPionLst li{
	flex:1;
	height:100%;
	padding:0px;
	list-style:none;
}
.mdUsROPTionPARent .mdUsROPTPionLst .mdUsROPTHLnk{
	flex:1;
	gap:3px;
}
.mdUsROPTionPARent .mdUsROPTinPuts{
	height:40px;
	padding:0px 5px;
	margin:0px;
	border:1px solid #eee;
	border-radius:3px;
	outline:0px;
	background-color:#fff;
}
.mdUsROPTionPARent .mdUsROPTPioncnt{
	background-color:#fafbfd;
	min-height:100%;
	justify-content:start;
}
.mdUsROPTionPARent .mdUsROPTPioncnt .mdUsROPTioncntner{
	min-height:calc(100% - 50px);
	padding:10px 0px;
	padding-bottom:0px;
}
.mdUsROPTionPARent .mdUsROPTionscntnr .mdUsROPPTinPuts{
	padding:5px 10px;
	padding-bottom:0px;
	position:relative;
}
.mdUsROPTionscntnr .mdUsROPPTinPuts .mdUsROPTinPuts{
	width:100%;
}
.mdUsROPTionPARent .mdUsROPTPioncnt,
.mdUsROPTionPARent .mdUsROPTPioncnt .mdUsROPTionscntnr,
.mdUsROPTionPARent .mdUsROPTionscntnr .mdUsROPPTinPuts,
.mdUsROPTionPARent .mdUsROPRefooter{
	flex-flow:column;
}	
.mdUsROPTionPARent .mdUsROPTPioncnt .mdUsROPTionscntnr{
	gap:15px;
}
.mdUsROPactive{
	background-image: linear-gradient(to bottom, #ffffff, #f7f7f7);
}
.mdUsROPactive:hover{
	background-position: initial;
	background-image:linear-gradient(to bottom, #f7f7f7, #ffffff);
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	border-top-color: #a2a2a2;
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.05), 0 1px 0 rgba(255, 255, 255, 0.2);
}
.mdUsROPTionPARent .mdUsROPRefooter{
	gap:2px;
	background-color:#f8f8f8;
	padding:10px 5px;
	position:relative;
	overflow:hidden;
	border-top:1px solid #eee;
}
.mdUsROPTionPARent .mdUsROPRefooter label{
	font-size:12px;
	margin:0px;
	margin-bottom:0px;
}
.mdUsROPTionPARent .mdUsROPRefooter a{
	text-decoration:none;
	font-size:10px;
}
.mdUsROPTionPARent .mdUsROPTionscntnr .mdUsROPPTLnk{
	flex-flow:row;
	justify-content:space-between;
	align-items:center !important;
	height:50px;
	padding:0px 10px;
	background-color:#f9f9f9;
}
.mdUsROPTionPARent .mdUsROPTionscntnr .mdUsROPPTLnk label{
	justify-content:start;
	align-items:center;
	gap:5px;
	margin:0px;
}
.mdUsROPTionPARent .mdUsROPPTLnk .mdUsROPTinPcheck{
	height:25px;
	width:25px;
	border:1px solid #eee;
	border-radius:2px;
	outline:0px;
	-webkit-appearance: checkbox;
	margin:0px;
}
.mdUsROPTionPARent .mdUsROPPTLnk label span{
	font-size:12px;
}
.mdUsROPReGTion{
	width:250px !important;
}
.mdUsROPTHactiveLnk{
	height:0px !important;
	width:0px !important;
	position:relative !important;
	overflow:hidden !important;
	padding:0px !important;
	border:0px !important;
}
.mdMAPSelmores .mdMAPSelmoreshdr{
	background-color:#ddd !important;
}
.leaflet-control-geoloc,
.leaflet-control-zoom-in, 
.leaflet-control-zoom-out,
.leaflet-left .leaflet-control-zoom a,
.leaflet-touch .leaflet-control-zoom-in, 
.leaflet-touch .leaflet-control-zoom-out,
.mdZOomReset .mdZoomOUTtn,
.mdZOomReset> div.mdMARKtReset a,
.mdZOomReset> div.mdMARKtReset .mdRzoomSeARch a i.fa,
.mdMAReKetResets .mdMAPSedownlabel i.fa{
	font-size:initial; 
    text-indent: 0px;
	line-height:initial;
	font-weight:initial;
	padding:0px;
}
.mdMAReKetResets .mdMAPSedownlabel i.fa{
	font-size:12px;
}
.leaflet-control-zoom-in, 
.leaflet-control-zoom-out{
	font:bold 18px 'Lucida Console', Monaco, monospace !important;
}
@media (min-width:767px)
{
	.mdAVLesection .mdAVLecontainer{
		flex:calc(100% / 4);
	}
	.mdMAPcontainer.mdFXDhidesss{
	}
	.mdFXDheader .mdMAPLODOs{
	    max-width:150px !important;
	}
    .mdFXDheader .mdMAPLODOs> a{
	    width:100% !important;
	}
    .mdFXDheader .mdMAPLODOs img{
	    width:initial !important;
		height:initial !important;
		max-width:100%;
		max-height:55px !important;
	}
	.mdMAPssearchBOxParent{
		min-width:300px !important;
	}
	.mdMAPsearchLst.mdMAPssearchBOxLst{
		width:300px;
	}
}

@media (max-width:767px)
{
	.mdUsROPTionPARent{
		width:100% !important;
		max-width:100% !important;
		min-width:100% !important;
	}
	.mdUsROPReGTion{
		width:100% !important;
	}
	.mdUsROPTionPARent,
	.mdTBLeOPTionPARent{
		margin-top:50px;
	}
	.mdAVLesection .mdAVLecontainer{
		flex:calc(100% / 1);
	}
	.mdMAPSedownbd.mdMAPsPurPoseLst{
		position:relative !important;
		width:100% !important;
	}
	.mdUNLOCkKeYs{
		padding:0px 10px !important;
		justify-content:center !important;
	}
	.mdUNLOCkKeYs .mdUNLOCkKeYss.mdUNlockLenGths{
		position:absolute;
		top:40px;
		left:0px;
		right:0px;
		padding:0px 10px !important;
		background-color:#f8f8f8;
		z-index:300 !important;
	}
	.mdMAPSelmores .mdMAPSelmoreshdr{
		overflow:initial !important;
	}
	.mdUNLOCkKeYs a.btn{
		font-size:12px;
	}
	.leaflet-top.leaflet-right{
		right:10px;
	}
	.mdZOomReset.mdSeARchTHis{
		top:65px;
	}
} 